.movies-card {
  background: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  max-width: 364px;
  min-height: 218px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.movies-card__image {
  object-fit: cover;
  height: 203px;
}

.movies-card__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 14px;
}

.movies-card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.movies-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #8B8B8B;
  margin-top: 10px;
}

.movies-card__favorite-container {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  align-self: center;
}

.movies-card__favorite-container input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  opacity: 0;
}

.movies-card__favorite-btn {
  background-color: #313131;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  background-image: url("../../images/add_icon-favorit.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.movies-card__favorite-btn:hover {
  opacity: 0.8;
}

.movies-card__favorite-btn_is_saved {
  background-image: url("../../images/icon-favorit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__del {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  align-self: center;
}

.movies-card__del-btn {
  background-color: #313131;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  border: none;
  background-image: url("../../images/del_btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.movies-card__del-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card__image {
    height: 168px;
  }
}
