.techs {
  min-height: 625px;
  padding: 100px 70px;
  box-sizing: border-box;
  background-color: #272727;
}

.techs__description-title {
  margin: 0;
  padding: 90px 0 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__description-subtitle {
  margin: 0 auto;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__list {
  margin: 0;
  padding: 100px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.techs__item {
  list-style-type: none;
  width: 90px;
  min-height: 60px;
  border-radius: 10px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1023px) {
  .techs {
    padding: 90px 50px;
    min-height: 567px;
  }

  .techs__description-title {
    padding: 80px 0 22px;
  }

  .techs__description-subtitle {
    font-size: 12px;
    line-height: 1.5;
  }

  .techs__list {
    padding: 83px 0 0;
  }

  .techs__item {
    width: 84px;
    min-height: 57px;
    font-size: 12px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding: 70px 18px;
    min-height: 651px;
  }

  .techs__description-title {
    font-size: 30px;
    line-height: 1.21;
    padding: 60px 0 24px;
  }
  .techs__description-subtitle {
    font-size: 11px;
    line-height: 1.45;
  }

  .techs__list {
    margin: 0;
    padding: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 84px);
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
