.slider__img {
  max-height: 700px;
  object-fit: contain;
  border: none;
  border-radius: 10px;
}

.slider {
  width: calc(100vw - 140px);
  max-width: 1140px;
  margin: auto;
  position: relative;
}

.slider__background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202020;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider__background-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;
  text-align: center;
  z-index: 10;
}

.slider__form {
  position: absolute;
  width: 300px;
  height: 200px;
  border: none;
  border-radius: 10px;
  background-color: #3ddc85d5;
  margin: auto;
  left: 50%;
  right: 0;
  top: 50%;
  bottom: 0;
  text-align: center;
  z-index: 10;
}

.slider__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

.slider__button {
  background-color: #303030;
  margin-top: 5%;
  width: 80%;
  min-height: 40px;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}

.slider__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.slider__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21;
}

@media screen and (max-width: 1023px) {
  .slider__form {
    width: 250px;
    height: 150px;
  }

  .slider__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    width: calc(100vw - 58px);
  }

  .slider__background-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
  }

  .slider__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 40%;
  }

  .slider__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.21;
    margin: 20px 5px 0;
  }

  .slider__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
  }

  .slider__button {
    margin: auto;
    min-height: 20px;
    max-width: 100px;

  }
}

@media screen and (max-width: 525px) {
  .slider__subtitle {
    font-weight: 400;
    font-size: 11px;
    margin: auto;
  }

  .slider__link {
    font-size: 12px;
 align-items: baseline;
  }
}
